<p>登入頁面</p>
<p style="color: red"><%= flash[:alert] %></p>
<p style="color: green"><%= flash[:notice] %></p>
<%= form_for @user, :url => sign_in_create_users_path do |f| %>
    <%= f.label :email, "Email"  %>
    <%= f.text_field :email %> 
    <%= f.label :password, "Password" %>
    <%= f.text_field :password %>
    <%= f.submit "登入" %>  
<% end %> 
<%= link_to '註冊', sign_up_users_path %>
